main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

h2{
    margin: 10px 0;
}

.btn-add{
    text-align: center;
    padding: 30px;
}
.title{
    margin: 30px;
}

.wrapper{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
}


.wrapper .imagem{
    padding: 0 20px 0 0;
}

.wrapper .imagem img{
    width: 100px;
    border-radius: 20px;

    &:hover{
        cursor: pointer;
    }
}

.wrapper .price{
    font-size: 1.2em;
    color: var(--preto);
}

.wrapper .price span{
    color: rgb(1, 90, 1);
}

.wrapper .acoes, .wrapper .qtd{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book {
    width: 100%;
    margin: 0 auto;
}

.add-book a{
    display: block;
    font-size: 2em;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    color: black;
    border: none;
}

.add-book a:hover{
    transform: scale(1.2);
}

/*Botões*/
.diminuir, .aumentar{
    width: 40px;
    height: 40px;
}

.wrapper #contador{
    margin: 0 10px;
}

.total{
    max-width: 300px;
    background-color: var(--cinza);
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto;
    text-align: center;
}

.total span{
    color: rgb(1, 90, 1);
}

.pagamento{
    margin: 50px 0;
    width: 100%;
    text-align: center;
}