
.title{
    margin: 20px 0;
}

main{
    display: grid;
    align-items: center;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}

div.empty{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.container-orders{
    margin: 20px 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
}

.wrapper .book-title p{
    margin: 10px 0;
}

.wrapper input{
    width: 85px;
}

.imagem img{
    width: 100px;
    background-color: gray;
    border-radius: 20px;
}

.status-pedido{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
  
}
.status{
    justify-self: center;
}

.status strong{
    padding: 20px;
    background-color: var(--cinza);
    border-radius: 20px;
}

.acoes{
    display: grid;
    justify-self: center;
    text-align: center;
    gap: 15px;
}

.acoes .btns{
    display: grid;
    gap: 15px;
}

.acoes .troca, .acoes .devolucao{
    display: block;
}
