main{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    justify-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 50px auto;
}

.imagem img{
    height: 500px;
    background-color: gray;
    border-radius: 20px;
}

.compra{
    padding: 20px ;
    text-align: center;
}

.compra .qtd-estoque{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-weight: bold;
    background-color: var(--branco);
}

.compra .title{
    font-size: 1.6em;
}

.compra .preco{
    margin: 30px 0 50px 0;
    font-size: 1.6em;
    color: var(--preto);
}

.compra .preco span{
    color: rgb(1, 90, 1);
}

.compra .qtd{
    text-align: center;
    margin-bottom: 40px;
}

.compra .diminuir, .compra .aumentar{
    width: 40px;
    height: 40px;
}

.compra #contador{
    margin: 0 5px;
}

.compra .opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.compra .opcoes a{
    width: 200px;
    display: block;
    text-align: center;
}

.categorias{
    cursor: pointer;
    background-color: var(--branco);
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 30px;
    grid-column: span 2;
    justify-self: left;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.categorias ul li{
    list-style: circle;
    margin: 10px 30px;
}

.sinopse{
    cursor: pointer;
    background-color: var(--branco);
    border-radius: 20px;
    margin-left: 30px;
    padding: 30px;
    grid-column: span 2;
    justify-self: left;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.title-desc{
    margin: 0 0 14px 0;
}

.sinopse .sinopse-text{
    font-size: 1.2em;
    line-height: 35px;
}
