<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CRUD</title>
</head>
<body>
    <div class="flex-container">
        <div class="container-index">
            <h1>CRUD de Clientes</h1>
            
            <div class="filtro">
                <span id="flt"><img src="images/filtro.png" alt="filtro"></span>
                <span id="bsc"><img src="images/busca.png" alt="busca"></span>
            </div>

            <div class="filtro_clientes"></div>

            <div class="button">
                <a href="/signup">Cadastrar Cliente</a>
            </div>
        </div>
    </div>

    <script type="module" src="/javaScript/index.js"></script>
</body>
</html>