/*Importando as cores do site*/
@import url('../../colors.css');

/*Inativos*/
.title{
    text-align: center;
    margin: 0 20px;
    background-color: var(--cinza);
    padding: 20px;
    border-radius: 20px;
}

.container-inat {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper{
    padding: 20px;
}

.acoes a:hover{
    cursor: pointer;
}

.inativos{
    width: 100%;  
}
