/*Importando as cores do site*/
@import url('../../colors.css');

/*Transaction*/
.container-tran{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.transaction{
    background-color: var(--branco);
    margin: 50px 0;
    padding: 30px 60px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0000005b;
}

.transaction h2{
    margin: 20px 0;
}

.top-left{
    border-radius: 20px 0 0 0;
}

.top-right{
    border-radius: 0 20px 0 0;
}

.tb-body:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.200);
}