<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>

    <div class="voltar"><a href="/">Sair</a></div>

    <header>
        <h1>Seu Carrinho</h1>
    </header>

    <main>
        <p>Itens Adicionados: </p> 

        <div>
            <p>Imagem do Pedido</p>
            <p><strong>Item 01: R$100,00</strong></p>
            <label for="">Qtd: </label>
            <input type="number">
            <button>Remover</button>
        </div>
        <div>
            <p>Imagem do Pedido</p>
            <p><strong>Item 01: R$200,00</strong></p>
            <label for="">Qtd: </label>
            <input type="number">
            <button>Remover</button>
        </div>

        <p><strong>Total de R$300,00</strong></p>

        <p><a href="/pagamento">Ir para Pagamento</a></p>
    </main>

    <footer>
        <p>Melhor Footer de Todos</p>
    </footer>
</body>
</html>