<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/carrinho.css">
    <title>Carrinho</title>
</head>
<body>

    <div class="main-container">
        <header>
            <div class="busca-header">
                <div class="voltar"><a href="/">Voltar</a></div>
            </div>
            <div>
                <h2>Carrinho de João</h2>
            </div>
        </header>
        <main>

            <div class="btn-add">
                <a href="">Adicionar Itens ao Carrinho</a>
            </div>

            <h2 class="title">Itens Adionados: </h2>

            <div class="wrapper">
                <div class="imagem">
                    <img src="/images/livros/aneis.jpg" alt="">
                </div>
                <div>
                    <p><h2>Lord of The Rings</h2></p>
                    <p><strong>R$100,00</strong></p>
                </div>
                <div>
                    <button class="diminuir">-</button>
                    <span id="contador">0</span>
                    <button class="aumentar">+</button>
                </div>
                <div class="acoes">
                    <button>Remover</button>
                    <button>Alterar</button>
                </div>
            </div>
            <div class="wrapper">
                <div class="imagem">
                    <img src="/images/livros/got.jpg" alt="">
                </div>
                <div>
                    <p><h2>Game of Thrones</h2></p>
                    <p><strong>R$120,00</strong></p>
                </div>
                <div>
                    <button class="diminuir">-</button>
                    <span id="contador">0</span>
                    <button class="aumentar">+</button>
                </div>
                <div class="acoes">
                    <button>Remover</button>
                    <button>Alterar</button>
                </div>
            </div>
            <h2 class="total">Total de R$220,00</h2>
            <div class="pagamento">
                <a href="/pagamento">Ir para Pagamento</a>
            </div>
        </main>
        <div class="space"></div>
        <footer>
            <p>E-commerce de Livros - João Salvador Neto</p>
        </footer>
    </div>


    <script type="module" src="/javaScript/pages/compras/carrinho.js"></script>
</body>
</html>