<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
</head>
<body>

    <div class="voltar"><a href="/">Cancelar</a></div>

    <header>
        <div class="busca-header">
            <div class="voltar"><a href="/">Voltar</a></div>
        </div>
        <div>
            <h2>Perfil de João</h2>
        </div>
    </header> 


    <main>
        <h2>Itens</h2>
        <section class="items">
            <p>Imagem do Pedido</p>
            <p><strong>Item 01: R$100,00</strong></p>
            <label for="">Qtd: </label>
            <input type="number">
            <button>Remover</button>
        </section>

        <section class="informacoes">
            <div class="enderecos">
                <h2>Escolha um Endereço: </h2>
                <select name="" id="">
                    <option value="">Etrada</option>
                    <option value="">Rua</option>
                    <option value="">Av</option>
                </select>
                <button>Adicionar novo endereço</button>
            </div>
            <div>
                <h2>Escolha um Método de Pagamento: </h2>

                <h3>Cartão</h3>
                <select name="" id="">
                    <option value="">Visa-1231</option>
                    <option value="">Mastercard-2314</option>
                    <option value="">Ohh-1212</option>
                </select>
                <button>Adicionar novo cartão</button>

                <h3>Cupom:</h3>
                <select name="" id="">
                    <option value="">R$20,00</option>
                    <option value="">R$40,00</option>
                    <option value="">R$60,00</option>
                </select>
            </div>

            <div>
                <p>Frete: R$12,00</p>
                <p>Total: R$112,00</p>
            </div>

        </section>

        <button>Finalizar Compra</button>
    </main>

    <footer>
        <p>Melhor Footer de todos</p>
    </footer>
    
</body>
</html>