<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/pagamento.css">
    <title>Pagamento</title>
</head>
<body>

    <div class="main-container">
        <header>
            <div class="busca-header">
                <div class="voltar"><a href="/">Voltar</a></div>
            </div>
            <div>
                <h2>Pagamento</h2>
            </div>
        </header>
        <main>
            <h2>Itens</h2>
            <section class="items">
                <div class="wrapper">
                    <div class="imagem"></div>
                    <div>
                        <p><h2>Lord of The Rings</h2></p>
                        <p><strong>R$200,00</strong></p>
                    </div>
                    <div>
                        <span id="contador"><strong>Qtd:</strong> 2</span>
                    </div>
                </div>
            </section>
            <section class="informacoes">
                <div class="enderecos">
                    <h2>Escolha um Endereço: </h2>
                    <div class="container">
                        <div class="wrapper">
                            <div>
                                <h2>Estrada Antiga Imperial</h2>
                                <p>Vila São Paulo</p>
                                <p><strong>Número: </strong>123</p>
                            </div>
                            <div class="acoes">
                                <a href="">Selecionar</a>
                            </div>
                        </div>
                        <div class="add">
                            <a href="">Adicionar Novo Endereço</a>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Escolha um Método de Pagamento: </h2>
                    <h3>Cartão</h3>
                    <div class="container">
                        <div class="wrapper">
                            <div>
                                <h2>Mastercard</h2>
                                <p>João Neto</p>
                                <p><strong>Final: </strong>4362</p>
                            </div>
                            <div class="acoes">
                                <a href="">Selecionar</a>
                            </div>
                        </div>
                        <div class="add">
                            <a href="">Adicionar Novo Endereço</a>
                        </div>
                    </div>
                    <h3>Cupom:</h3>
                    <select name="" id="">
                        <option value="">R$20,00</option>
                        <option value="">R$40,00</option>
                        <option value="">R$60,00</option>
                    </select>
                </div>
                <div class="resumo">
                    <p>Frete: R$12,00</p>
                    <p>Total: R$112,00</p>
                </div>
            </section>
            <div class="finalizar-compra">
                <a href="/pedidos">Finalizar a Compra</a>
            </div>
        </main>
        <div class="space"></div>
        <footer>
            <p>E-commerce de Livros - João Salvador Neto</p>
        </footer>
    </div>

    
</body>
</html>