<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>
<body>
    <header>
        <h1>Meus Pedidos</h1>
    </header>

    <section class="pedidos">
        <div>
            <p>Imagem do Pedido</p>
            <p>Pedido 01</p>
            <button>Trocar</button>
        </div>

        <div>
            <p>Imagem do Pedido</p>
            <p>Pedido 01</p>
            <button>Trocar</button>
        </div>

    </section>

    <footer>
        Melhor Footer
    </footer>
    
</body>
</html>