<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/pedidos.css">
    <title>Pedidos</title>
</head>
<body>

    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Pedidos de João',
            path: '/'
        })%>

        <h2 class="title">Todos os Pedidos</h2>
        <main>
            <div class="wrapper">
                <div class="imagem">
                    <img src="/images/livros/aneis.jpg" alt="">
                </div>
                <div>
                    <p>Lord of The Rings</p>
                    <p>R$100,00</p>
                </div>
                <div>
                    <p><strong>Em Trânsito</strong></p>
                </div>
                <div class="acoes">
                    <a href="">Trocar</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="imagem">
                    <img src="/images/livros/got.jpg" alt="">
                </div>
                <div>
                    <p>Game of Thrones</p>
                    <p>R$120,00</p>
                </div>
                <div>
                    <p><strong>Entregue</strong></p>
                </div>
                <div class="acoes">
                    <a href="">Trocar</a>
                </div>
            </div>
        </main>

        <%- include('../components/footer')%>

    </div>
</body>
</html>