<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>

    <div class="voltar"><a href="/">Voltar</a></div>

    <header>
        <h2>Produto</h2>
    </header>
    <main>
        <div>
            <p>imagem incrível aqui</p>
        </div>
        <div>
            <h2>Lord of the Rings</h2>
            <p><strong>R$100,00</strong>
            </p>
            <label for="">Qtd:</label>
            <input type="number">
            <a href="/pagamento">Comprar</a>
            <a href="/carrinho">Adicionar ao Carrinho</a>
        </div>
        <div>
            
            <label for="">Descirção Insana Aqui</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nobis assumenda, dolor, doloremque autem temporibus deserunt adipisci explicabo perferendis sint velit voluptatem? Illum consequatur maiores officiis illo accusamus, eos fugit? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur architecto repudiandae eligendi incidunt nam explicabo illo voluptatem veniam unde perferendis omnis consectetur perspiciatis voluptatibus, inventore ratione distinctio ab. Libero, ipsam?</p>

        </div>
    </main>
    <footer>
        <p>Melhor Footer de Todos</p>
    </footer>
</body>
</html>