/*WebSite colors*/


/*Global Settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

select{
    width: 100px;
}

input{
    display: block;
    padding-left: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 1em;
}

button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    font-size: 1em;

    &:hover{
        background-color: lightgray;
        cursor: pointer;
    }
}

a{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;

    &:hover{
        background-color: lightgray;
        color: black;
        transition: 0.2s;
        border: 1px solid black;
    }
}

.voltar{
    position: fixed;
    top: 30px;
    left: 10px;
}


/*CRUD Settings*/

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-index{
    flex-basis: 800px;
    margin: 20px auto 0 auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0000005b;
}

h1{
    text-align: center;
    margin-bottom: 20px; 
    font-size: 1.8em;
}

.filtro{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
    cursor: pointer;
}

.filtro_clientes{
    
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.filtro_clientes select{

    height: 40px;
    padding: 8px;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
    }

    &:focus{
        outline: none;
    }
}

.filtro_clientes input{
   
    width: 60%;

    &:focus{
        outline: none;
    }
}

.button{
    padding: 20px;
    text-align: center;
}

.cliente-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000005b;
}

.cliente-wrapper .acoes{
    position: relative;
    align-self: center;
}

/*Submenu*/

.alt_submenu{
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    background-color: white;
    z-index: 2;

}

.alt_submenu a{
    display: block;
    background-color: white;
    border: none;
    color: black;
    padding: 20px;

    &:hover{
        background-color: lightgray;
    }
}

/*Sign-up settings*/

.container-signup{
    max-width: 1000px;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0px 0px 20px #0000005b;
    border-radius: 20px;
}

.container-signup h2{
    text-align: center;
    margin-bottom: 20px;
}

.container-forms{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.container-forms input{
    margin: 10px 0px;
    width: 100%;
  
}

.container-forms .cliente{
    grid-column: span 2;
}

.container-forms .cartoes{
    grid-column: span 2;
}

.container-forms .endereco_cobranca{
    grid-row: 2;
    grid-column: span 2;
}

.container-forms .endereco_entrega{
    grid-row: 2;
    grid-column: span 2;
}

.container-forms button[type='submit']{
    grid-column: span 4;
    justify-self: center;
}

/*Address settings*/

.container-address{
    max-width: 1000px;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0px 0px 20px #0000005b;
    border-radius: 20px;
}

.container-address h2{
    text-align: center;
    margin-bottom: 20px;
}

.container-forms-address{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.container-forms-address input{
    margin: 10px 0px;
    width: 100%;
}

.container-forms-address .endereco_cobranca{
    grid-row: 2;
    grid-column: span 2;
}

.container-forms-address .endereco_entrega{
    grid-row: 2;
    grid-column: span 2;
}

.container-forms-address button{
    grid-row: 3;
    grid-column: span 4;
    justify-self: center;
}


/*Card settings*/

.container-card{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    flex-basis: 800px;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0px 0px 20px #0000005b;
    border-radius: 20px;
}

.card h2{
    text-align: center;
    margin-bottom: 20px;
}

.container-forms-card{
   display: grid;
   grid-template-columns: 1fr;
}

.container-forms-card input{
    margin: 10px 0px;
    width: 100%;
}

.container-forms-card .cartoes{
    margin: 30px 80px;
}

.container-forms-card button{
    grid-column: span 2;
    justify-self: center;
}


/*Password*/
.container-password{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.senha{
    box-shadow: 0px 0px 20px #0000005b;
    border-radius: 20px;
    padding: 30px 60px;
    text-align: center;
    width: 400px;
    max-width: 600px;
}

.senha input{
    margin: 20px 0;
    width: 100%;
}

/*Transaction*/

.container-tran{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.transaction{
    padding: 30px 60px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0000005b;
}

.transaction h2{
    margin: 20px 0;
}

.transaction p{
    border: 1px solid #00000070;
    padding: 10px;
    border-radius: 10px;
}

.transaction ul{
    list-style-type: none;
}

.transaction li{
    margin: 20px 0;
}

/*Inativos*/
.container-inat {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.inativos{
    width: 500px;  
}
