/*Importando cores*/
@import url('../colors.css');

/*Pop-up*/
.popup{

    padding: 20px;
    border-radius: 0 20px 20px 0;
    min-width: 25%;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    background-color: var(--branco);
    z-index: 1;
}

.popup .button-popup{
    text-align: center;
}

.popup h2{
    padding: 30px;
    text-align: center;
    background-color: var(--cinza);
    margin: 20px 0;
    border-radius: 20px;
}

.popup p{
    padding: 5px 0;
}

.popup hr{
    margin: 20px 0;
}

.popup h3{
    text-align: left;
    padding: 5px 0;
}