<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/clientes.css">
    <link rel="stylesheet" href="/css/components/popup.css">
    <title>CRUD</title>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="busca-header">
                <div class="voltar"><a href="/">Voltar</a></div>
            </div>
            <div>
                <h2>Gerenciamente de Clientes</h2>
            </div>
        </header>
        <div class="flex-container">
            <div class="container-index">
                <div class="msg-clientes">
        
                    <div class="filtro">
                        <span id="flt"><img src="images/clientes/filtro.png" alt="filtro"></span>
                    </div>
                    <div class="filtro_clientes">
                        <input type="text" placeholder="Nome">
                        <input type="email" placeholder="E-mail">
                        <input type="text" placeholder="Telefone">
                        <input type="text" placeholder="CPF ">
                        <input type="date" placeholder="Data de Nascimento">
                        <input type="text" placeholder="Gênero">
                        <button>Filtrar</button>
                    </div>
                </div>
                <div class="button">
                    <a href="/clientes/signup">Cadastrar Cliente</a>
                </div>
                <%
                    clientes.forEach(cliente => { %>
                        <div class="wrapper">
                            <div class="cliente">
                                <p class="invisible cliente-id"><%=cliente.clt_id%></p>
                                <p><%=cliente.clt_nome%></p>
                                <p><%=cliente.clt_email%></p>
                            </div>
                            <div class="acoes">
                                <a class="alt" href="#">Alterar</a>
                                <a class="inat" href="#">Inativar</a>
                                <a class="tran" href="#">Transações</a>
                            </div>
                        </div>
                        <%
                    });
                %>
            </div>
        </div>
        <div class="space"></div>
        <footer>
            <p>E-commerce de Livros - João Salvador Neto</p>
        </footer>
    </div>
    


    <script type="module" src="/javaScript/pages/clientes/clientes.js"></script>
    <script type="module" src="/javaScript/components/clientes/popupClientes.js"></script>
</body>
</html>