/*Importando as cores do site*/
@import url('../colors.css');

/*Inativos*/
.title{
    text-align: center;
}

.container-inat {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.inativos{
    width: 500px;  
}
