/*Importando as cores do site*/
@import url('../../colors.css');

/*Password*/
.container-password{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.senha{
    background-color: var(--branco);
    box-shadow: 0px 0px 20px #0000005b;
    border-radius: 20px;
    padding: 30px 60px;
    text-align: center;
    width: 400px;
    max-width: 600px;
}

.senha input{
    margin: 20px 0;
    width: 100%;
}