<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/historicoVendas.css">
    <title>Histórico de Vendas</title>
</head>
<body>

    <div class="main-container">
       
        <%- include('../components/header', {
            titulo: 'Histórico de Vendas',
            path: '/'
        })%>

        <main>

            <div class="box data">
                <h2 class="title-periodo">Período</h2>
                <label for="data-range">Selecione um Período</label>
                <input id="data-range" type="text" placeholder="Clique aqui..." class="form-control">
                <div class="btns">
                    <div class="btn-flt-data">
                        <a href="">Filtrar</a>
                    </div>
                    <div class="btn-clean-periodo">
                        <a href="">Limpar</a>
                    </div>
                </div>
            </div>

            <div class="box categorias">
                <h2 class="title-categorias">Categorias</h2>
                <label for="categorias-filtro">Selecione as Categorias</label>
                <select name="categorias-filtro" id="categorias-filtro" multiple>

                    <% categorias.forEach(cat => { %>
                        <option value="<%=cat.cat_id%>"><%=cat.cat_nome%></option>
                    <% }); %>

                </select>

                <div class="btns">
                    <div class="btn-flt-cat">
                        <a href="">Filtrar</a>
                    </div>
                    <div class="btn-clean-cat">
                        <a href="">Limpar</a>
                    </div>
                </div>
            </div>
          
            <h2 class="title">Análise do Histórico de Vendas</h2>
            <div class="grafico">
                <div id="historico-vendas"></div>
            </div>
        
        </main>
        
        <%- include('../components/footer')%>

    </div>

    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>


    <!-- Meus JavaScripts -->
    <script type="module" src="/javaScript/pages/analise/historicoVendas.js"></script>

</body>
</html>