<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/logs.css">
    <title>Logs</title>
</head>
<body>

    <div class="main-container">
      
        <%- include('../components/header', {
            titulo: 'Log do Sistema',
            path: '/'
        })%>

        <main>
            <h2 class="title">Todos os Logs do Sistema</h2>
            <div class="container">
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Usuário</th>
                        <th>Ação</th>
                        <th>Descição</th>
                    </tr>
                    <tr>
                        <td>20-20-2020</td>
                        <td>João Neto</td>
                        <td>Inserção</td>
                        <td>Cadastro de Usuário</td>
                    </tr>
                    <tr>
                        <td>20-20-2021</td>
                        <td>Arnaldo</td>
                        <td>Alteração</td>
                        <td>Alteração de e-mail de usuário</td>
                    </tr>
                    <tr>
                        <td>20-22-2021</td>
                        <td>Elias</td>
                        <td>Exclusão</td>
                        <td>Exclusão de usuário</td>
                    </tr>
                </table>
            </div>
        </main>

        <%- include('../components/footer')%>

    </div>

</body>
</html>