<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pages/ai-assistant/assistant.css">
    <title>ChatBot</title>
</head>
<body>
    <div class="container">
        <div class="chat-button"><span>IA</span></div>

        <div class="chat" style="display: none;">
            <div class="title"><span>ChatBot</span></div>
            <div class="screen">
                <p>Como eu posso te ajudar hoje?</p>
            </div>
            <div class="input">
                <input type="text" placeholder="Digite uma mensagem">
                <button id="ai-button">Enviar</button>
            </div>
        </div>
    </div>
    <script src="/javaScript/pages/ai-assistant/assistant.js"></script>
</body>
</html>
