<header>
    <div class="busca-header">
        <h2 id="title-index">WebLibrary</h2>
        <input id="busca-index" type="text" placeholder="busca">
    </div>
    <div class="acoes">
        <span id="notificacao-index"><a href="#">Notificações</a></span>
        <span id="carrinho-index"><a href="/carrinho">Carrinho</a></span>
        <button id="btn-sidebar" >☰</button>
    </div>
</header>