<header>
    <div class="busca-header">
        <h2 id="title-index">WebLibrary</h2>
        <img id="book-header" src="/images/icon/book.png" alt="book-icon">
        <input id="busca-index" type="text" placeholder="Buscar produtos...">
    </div>
    <div class="acoes">
        <button style="margin-right: 10px;" class="header-btn" id="btn-sidebar">☰</button>
    </div>
    
</header>