<header>
    <div class="busca-header">
        <h2 id="title-index">WebLibrary</h2>
        <img id="book-header" src="/images/icon/book.png" alt="book-icon">
        <input id="busca-index" type="text" placeholder="busca">
    </div>
    <div class="acoes" id="logado">
        <div id="notificacao-index">
            <a class="header-btn" href="#">
                <img src="/images/notificacao.png" alt="">
            </a>
            <span id="notificacao-contador" class="contador">0</span>
        </div>
        <span id="carrinho-index"><a class="header-btn" href="/carrinho"><img src="/images/car.png" alt=""></a></span>
        <span class="clt-nome"><%=clt_nome.split(' ')[0]%></span>
        <button class="header-btn" id="btn-sidebar" >☰</button>
    </div>
    
</header>