/*Importando cores*/
@import url('../../colors.css');

.items-title{
    margin: 30px 0 25px 0;
    text-align: center;
}

.title{
    padding: 10px;
}

.informacoes h2{
    margin: 20px 0;
}

h3{
    margin: 20px 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

.imagem img{
    width: 100px;
    background-color: gray;
    border-radius: 20px;
}

.container{
    background-color: var(--cinza);
    padding: 20px;
    border-radius: 20px;
}

.wrapper{
    align-items: center;
}

.wrapper select{
    width: 70%;
}

.add{
    margin: 40px;
    text-align: center;
}


.cupons-aplicados{    
    padding: 20px 0 0 0;
    max-width: 200px;
    margin: 30px auto 60px auto; 
}

.cupons-aplicados .cupom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    
}

.cupons-aplicados p{
    color: green;
    font-size: 1.1em;
    align-self: center;
}

.resumo{
    margin: 30px 0;
    padding: 20px;
    text-align: center;
    background-color: var(--cinza);
    border-radius: 20px;
}

.resumo p{
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
}

.resumo .total{
    font-size: 1.5em;
    padding: 5px;
}

.finalizar-compra{
    text-align: center;
    margin: 40px 0;
}