


.title{
    margin: 20px 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

.imagem img{
    width: 100px;
    background-color: gray;
    border-radius: 20px;
}

strong{
    padding: 20px;
    background-color: var(--cinza);
    border-radius: 20px;
}

.wrapper{
    align-items: center;
}
