
.title{
    margin: 20px 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
}

.wrapper .book-title p{
    margin: 10px 0;
}

.imagem img{
    width: 100px;
    background-color: gray;
    border-radius: 20px;
}

.status-pedido{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
  
}

.status{
    justify-self: center;
}

.status strong{
    padding: 20px;
    background-color: var(--cinza);
    border-radius: 20px;
}

.acoes{
    justify-self: center;

}

