main{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    justify-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 50px auto;

}


.imagem img{
    height: 500px;
    background-color: gray;
    border-radius: 20px;
}

.compra{
    padding: 20px ;
    text-align: center;
}

.compra .title{
    font-size: 1.6em;
}

.compra .preco{
    margin: 20px 0 50px 0;
    font-size: 1.2em;
    color: green;
}

.compra .qtd{
    text-align: center;
    margin-bottom: 40px;
}

.compra .diminuir, .compra .aumentar{
    width: 40px;
    height: 40px;
}

.compra #contador{
    margin: 0 5px;
}

.compra .opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.compra .opcoes a{
    width: 200px;
    display: block;
    text-align: center;
}

.sinopse{
    padding: 30px;
    grid-column: span 2;
    justify-self: left;
}

.sinopse .title-desc{
    margin: 20px 0;
}

.sinopse .sinopse-text{
    font-size: 1.2em;
    line-height: 35px;
}
