/*Importando as cores do site*/
@import url('../colors.css');

body, html{
    background-color: var(--preto);
}

.main-container{
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s ease;
    background-color: var(--branco);
}

.conteudo{
    width: 100%;
    transition: 0.3s ease;
}

.busca-header{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title-index{
    flex-grow: 1;
    margin-left: 20px;
}

header #logado{
    display: grid;
    grid-template-columns: 50px 100px 90px;
    align-items: center;
    justify-items: center;
}

.acoes .header-btn{
    all: unset;
    text-align: center;
    height: 50px;
    width: 70px;
    border-radius: 15px;
}

.header-btn{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    

    &:hover{
        transition: 0.5s;
        cursor: pointer;
        border: none;
        background-color: transparent;  
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.315);
    }
}

#carrinho-index a, #notificacao-index a{

    &:hover{
        cursor: pointer;
        border: none;
        box-shadow: none;
    }
}

#carrinho-index img, #notificacao-index img{
    height: 25px;
    filter: brightness(0) invert(1);
    
    &:hover{
        transition: 0.2s;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.897)) brightness(0) invert(1);
    }

}

#busca-index{
    flex-grow: 2;
}

#btn-sidebar{
    font-size: 1.3em;
}


/*Notificações*/
.notificacao{
    border: 3px solid var(--branco);
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 200px;
    left: -150px;
    background-color: var(--preto);
    z-index: 2;
}

.notificacao a{
    display: block;
    background-color: var(--preto);
    border: none;
    color: var(--branco);
    padding: 20px;

    &:hover{
        background-color: var(--amarelo-claro);
        color: var(--preto);
    }
}

/*Menu Lateral*/
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    transform: translate(600px, 0);
    padding: 20px;
    color: var(--branco);
    background-color: var(--preto);
    transition: transform 0.3s ease;

}

.aberta{
    transform: translate(0, 0);
}

.sidebar h2{
    margin: 10px 0px;
}

.sidebar a{
    display: block;
}

/*Banner*/
.banner {
    background-image: url('/images/index/banner.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: var(--preto);
    width: 100%;
    height: 300px;
}

/*livros*/
.books{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 50px;
    max-width: 1500px;
    margin: 50px auto 0 auto;
    justify-content: center; 

}

.book{
    display: grid;
    align-items: center;
    text-align: center;
    flex-basis: 250px;
    padding: 20px;
    box-shadow: 0px 0px 20px #0000005b;
    border-radius: 20px;
    background-color: white;
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.08);
        z-index: 1;
    }
}


.book .imagem img{
    width: 200px;
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 20px;

    &:hover{
        cursor: pointer;
    }

}

.book p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.book .preco{
    color: green;
}

.compra{
    display: flex;
    justify-content: center;
    width: 100%;
}

.compra a {
    width: 100px;
}



