/*Importando cores*/
@import url('../../../colors.css');

main{
    max-width: 1200px;
    margin: 0 auto;
}

.btn-entrada{
    padding: 50px 0 30px 0;
    text-align: center;
}

.top-left{
    border-radius: 20px 0 0 0;
}

.top-right{
    border-radius: 0 20px 0 0;
}

table{
    border-radius: 20px 20px 0 0;
    margin-bottom: 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.199);
}

th{
    min-width: 115px;
}

.tb-body:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.200);
}