main{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

label{
    margin: 20px 0;
    display: block;
}

input{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="number"]{
    width: 110px;
}

select, input[type="text"]{
    width: 100%;
    height: 40px;
}

.choices__inner {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.5s;
}

#valor_custo{
    width: 100%;
}

#qtd:focus, #valor_custo:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    transition: 0.5s;
}

.forms{
    padding: 30px;
    min-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0000005b;
    margin: 30px 0;
}

.submit{
    text-align: center;
    padding: 50px 0 20px 0;
}