<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Alterando Cartão</title>
</head>
<body>
    <div class="voltar"><a href="/card">Voltar</a></div>
    <div class="container-card">
        <div class="card">
            <h2>Alteração de Cartão</h2>
        
            <form class="container-forms-card">
                <div class="cartoes">
                    <label for="numero_cartao">Número do Cartão</label>
                    <input type="text" name="numero_cartao" required>
                    <label for="nome_cartao">Nome Impresso no Cartão</label>
                    <input type="text" name="nome_cartao" required>
                    <label for="bandeira_cartao">Bandeira do Cartão</label>
                    <input type="text" name="bandeira_cartao" required>
                    <label for="codigo_seguranca">Código de Segurança</label>
                    <input type="text" name="codigo_seguranca" required>
                </div>
                
                <button>Alterar</button>
            </form>
        </div>
    </div>
</body>
</html>