<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Vendas</title>
</head>
<body>

    <div class="voltar"><a href="/">Voltar</a></div>

    <header>
        <h1>Histórico de Vendas</h1>
    </header>

    <main>
        <div>
            <h2>Produtos</h2>
            <input type="radio">Lord of the Rings
            <input type="radio">Não sei
            <input type="radio">IT
            <input type="radio">Game of Thrones
        </div>

        <div>
            <h2>Categorias</h2>
            <input type="radio">Ação
            <input type="radio">Ficção
            <input type="radio">Comédia
            <input type="radio">Drama
        </div>

        <button>Filtrar</button>

        <div>
            <p>Um gŕafico muito incrível vai aparecer aqui</p>
        </div>
    </main>

    <footer>
        <p>Melhor footer de todos</p>
    </footer>
</body>
</html>