<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Clientes Inativos</title>
</head>
<body>
    <div class="voltar"><a href="/">Voltar</a></div>
    <div class="container-inat">
        <div class="inativos">
            <h1>Clientes Inativos</h1>
            <div id="clientes-inativos"></div>
        </div>
    </div>

    <script type="module" src="/javaScript/inativos.js"></script>
</body>
</html>
