<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <title>e-commerce-livros</title>
</head>
<body>

    <header>
        <div class="busca-header">
            <span id="title-index">E-commerce</span>
            <input id="busca-index" type="text" placeholder="busca">
        </div>
        <div class="acoes">
            <span id="notificacao-index"><a href="">Notificações</a></span>
            <span id="carrinho-index"><a href="/carrinho">Carrinho</a></span>
            <button id="btn-sidebar" >☰</button>
        </div>
    </header> 

    <nav class="sidebar">
        
    </nav>

    <main>
        <h1>Esta é a página principal</h1>
        <div>
            <p>Isso é o banner</p>
        </div>
        <div>
            <p><a href="/produto">Livro 01</a></p>
            <p><a href="#">Livro 02</a></p>
            <p><a href="#">Livro 03</a></p>
        </div>
    </main>

    <footer>
        <p>Melhor Footer</p>
    </footer>

    <script type="module" src="/javaScript/pages/index.js"></script>

</body>
</html>