<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce-livros</title>
</head>
<body>

    <header>
        <span for="">E-commerce</span>
        <input type="text" placeholder="busca">
        <span for="">Notificações</span>
        <span for=""><a href="/carrinho">Carrinho</a></span>
        <button>Menu Lateral</button>

        <nav>
            <p>Isso é o menu lateral</p>
            <ul>
                <label for="">Cliente</label>
                <ul>
                    <li><a href="/perfil">Perfil</a></li>
                    <li><a href="/cadastro">Cadastro</a></li>
                    <li><a href="/pedidos">Meus Pedidos</a></li>
                </ul>
                <label for="">ADM</label>
                <ul>
                    <li><a href="/clientes">Gerenciar Clientes</a></li>
                    <li><a href="">Gerenciar Livros</a></li>
                    <li><a href="/pedidos/gerenciar">Gerenciar Pedidos</a></li>
                    <li><a href="/vendas/historico">Histórico de Vendas</a></li>
                    <li><a href="/logs">Logs</a></li>
                </ul>
            </ul>
        </nav>
          
    </header>

    <main>
        <h1>Esta é a página principal</h1>
        <div>
            <p>Isso é o banner</p>
        </div>
        <div>
            <p><a href="/produto">Livro 01</a></p>
            <p><a href="#">Livro 02</a></p>
            <p><a href="#">Livro 03</a></p>
        </div>
    </main>

    <footer>
        <p>Melhor Footer</p>
    </footer>

</body>
</html>