<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <title>e-commerce-livros</title>
</head>
<body>

    <div class="main-container">

        <%- include('components/headerIndex') %>
        
        <main>
            <div class="banner"></div>
            <div class="books">
                <div class="book">
                    <div class="imagem">
                        <img src="/images/capas/sociedade_anel.jpg" alt="">
                    </div>
                    <p>Lord of The Rings</p>
                    <p>R$100,00</p>
                    <div class="compra"><a href="/produto">Comprar</a></div>
                </div>
                <div class="book">
                    <div class="imagem">
                        <img src="/images/capas/1984.jpg" alt="">
                    </div>
                    <p>Game of Thrones</p>
                    <p>R$100,00</p>
                    <div class="compra"><a href="#">Comprar</a></div>
                </div>
                <div class="book">
                    <div class="imagem">
                        <img src="/images/capas/bras_cubas.jpg" alt="">
                    </div>
                    <p>IT</p>
                    <p>R$100,00</p>
                    <div class="compra"><a href="#">Comprar</a></div>
                </div>
                <div class="book">
                    <div class="imagem">
                        <img src="/images//livros/codigoLimpo.jpg" alt="">
                    </div>
                    <p>Código Limpo</p>
                    <p>R$100,00</p>
                    <div class="compra"><a href="#">Comprar</a></div>
                </div>
            </div>
        </main>

        <div class="space"></div>

        <%- include('components/footer') %>
    </div>

    <script type="module" src="/javaScript/pages/index.js"></script>

</body>
</html>