<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <title>e-commerce-livros</title>
</head>
<body>

    <header>
        <div class="busca-header">
            <h2 id="title-index">E-commerce</h2>
            <input id="busca-index" type="text" placeholder="busca">
        </div>
        <div class="acoes">
            <span id="notificacao-index"><a href="">Notificações</a></span>
            <span id="carrinho-index"><a href="/carrinho">Carrinho</a></span>
            <button id="btn-sidebar" >☰</button>
        </div>
    </header> 

    <nav class="sidebar">
        
    </nav>

    <main>
        <div class="banner">

        </div>
        <div class="books">

            <div class="book">
                <div class="imagem"></div>
                <p>Lord of The Rings</p>
                <p>R$100,00</p>
                <div class="compra"><a href="/produto">Comprar</a></div>
            </div>

            <div class="book">
                <div class="imagem"></div>
                <p>Game of Thrones</p>
                <p>R$100,00</p>
                <div class="compra"><a href="#">Comprar</a></div>
            </div>

            <div class="book">
                <div class="imagem"></div>
                <p>IT</p>
                <p>R$100,00</p>
                <div class="compra"><a href="#">Comprar</a></div>
            </div>

            <div class="book">
                <div class="imagem"></div>
                <p>Código Limpo</p>
                <p>R$100,00</p>
                <div class="compra"><a href="#">Comprar</a></div>
            </div>
            
        </div>
    </main>

    <footer>
        <p>E-commerce de Livros - João Salvador Neto</p>
    </footer>

    <script type="module" src="/javaScript/pages/index.js"></script>

</body>
</html>