<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce-livros</title>
</head>
<body>
    <h1>Está é a página principa</h1>

    <div>
        <p>Banner</p>
    </div>

    <div>
        <p><a href="#">Livro</a></p>
    </div>
</body>
</html>