<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Recuperação de Senha</title>
</head>
<body>
    <div class="voltar"><a href="/">Voltar</a></div>
    <div class="container-password">

        <div class="senha">
            <h2>Recupere a sua senha</h2>

            <form>
                <input class="senha-atual" type="password" placeholder="Senha atual...">
                <input class="senha-nova" type="password" placeholder="Digite a nova senha...">
                <input class="senha-rep" type="password" placeholder="Confirme a sua senha...">

                <button>Confirmar</button>
            </form>
        </div>
    </div>

    <script type="module" src="/javaScript/password.js"></script>
</body>
</html>