 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/perfil.css">
    <title>Perfil</title>
 </head>
 <body>
    
    <header>
        <div class="busca-header">
            <div class="voltar"><a href="/">Voltar</a></div>
        </div>
        <div>
            <h2>Perfil de João</h2>
        </div>
    </header> 

    <main>
        <div class="flex-container">
            
            <div class="usuario box">
                <h2>Dados de João</h2>

                <div class="flex-usuario">
                    <div class="dados">
                        <p><strong>Nome Completo: </strong>João Salvador Neto<p/>
                        <p><strong>E-mail: </strong>joao.salvador@gmail.com<p/>
                        <p><strong>Telefone: </strong>+55 11 92424-3532<p/>
                        <p><strong>CPF: </strong>123.532.643-23<p/>
                        <p><strong>Gênero: </strong>M<p/>
                        <p><strong>Data Nascimento: </strong>12-01-2020<p/>
                        <p><strong>Ranking: </strong>90<p/>
                    </div>
                    <div class="imagem-perfil"></div>
                </div>

                <div class="botao">
                    <button>Alterar Dados</button>
                </div>
            </div>
            <div class="cartoes box">

                <h2>Cartões Cadastrados</h2>

                <div class="wrapper">
                    <div class="card-main">
                        <h2>Visa</h2>
                        <p>João Neto</p>
                        <p><strong>Final: </strong>1234</p>
                    </div>
                    <div class="acoes">
                        <a class="alt" href="#">Alterar</a>
                        <a href="">Adicionar</a>
                    </div>
                </div>

                <div class="wrapper">
                    <div>
                        <h2>Mastercard</h2>
                        <p>João Neto</p>
                        <p><strong>Final: </strong>4362</p>
                    </div>
                    <div class="acoes">
                        <a class="alt" href="#">Alterar</a>
                        <a href="">Adicionar</a>
                    </div>
                </div>
            </div>
            <div class="enderecos box">
                <h2>Endereços Cadastrados: </h2>

                <div class="wrapper">
                    <div>
                        <h2>Estrada Antiga Imperial</h2>
                        <p>Vila São Paulo</p>
                        <p><strong>Número: </strong>123</p>
                    </div>
                    <div class="acoes">
                        <a class="alt" href="#">Alterar</a>
                        <a href="">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>E-commerce de Livros - João Salvador Neto</p>
    </footer>


 </body>
 </html>