 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
 </head>
 <body>
    
    <div class="voltar"><a href="/">Voltar</a></div>

    <header>
        <h2>Dados de João</h2>
    </header>

    <main>
        <div class="usuario">
        
            <p><strong>Nome: </strong>João</p>
            <p><strong>Genero: </strong>M</p>
            <p><strong>CPF </strong>2343523452</p>
            <button>Alterar Dados</button>
        </div>
        <div class="enderecos">
            <h2>Enderecos Cadastrados: </h2>
            <select name="" id="">
                <option value="">Etrada</option>
                <option value="">Rua</option>
                <option value="">Av</option>
            </select>
            <button>Adicionar novo endereço</button>
            <button>Alterar Selecionado</button>
        </div>
        <div>
            <h2>Cartões Cadastrados: </h2>
            <select name="" id="">
                <option value="">Visa-1231</option>
                <option value="">Mastercard-2314</option>
                <option value="">Ohh-1212</option>
            </select>
            <button>Adicionar novo cartão</button>
            <button>Alterar Selecionado</button>
        </div>
    </main>

    <footer>
        <p>Melhor Footer de todos</p>
    </footer>

 </body>
 </html>