<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/password.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Recuperação de Senha</title>
</head>
<body>
  
    <div class="main-container">

        <%- include('../components/header', {
            titulo: 'Alteração de Senha',
            path: '/clientes'
        })%>

        <div class="container-password">
            <div class="senha">

                <h2>Preencha os Campos</h2>

                <form>
                    <input class="senha-atual" type="password" placeholder="Senha atual...">
                    <input class="senha-nova" type="password" placeholder="Digite a nova senha...">
                    <input class="senha-rep" type="password" placeholder="Confirme a sua senha...">
                    <button>Confirmar</button>
                </form>
            </div>
        </div>

        <%- include('../components/footer')%>

    </div>

    <script type="module" src="/javaScript/pages/clientes/password.js"></script>
</body>
</html>